
.base-images {
    text-align: center;
    line-height: 0px;
}

.base-images img {
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px;
    cursor: pointer;
}

.meme-create-select-group > .meme-create-select-base-images {
    width: 540px;
}

.meme-create-select-group > .meme-create-select-separator {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEXd3d3u346CAAAACklEQVQIHWNgAAAAAgABz8g15QAAAABJRU5ErkJggg==) repeat-y center top;
    font-size: 16px;
    line-height: 1.5625;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    padding: 0!important;
    width: 30px;
}

.meme-create-select-separator > strong {
    background: #fff;
    display: inline-block;
}


.meme-create-form-group > .meme-create-form-item-form {
    width: 300px;
}